{% extends "master.html"%}


{% block title%}
Home
{%endblock%}


{% block body%}

  <!--bodycontent-->
  <section class="default-body-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <img src="{{ url_for('static', filename='img/2.jpg')}}" alt="" class="img-fluid rounded">
                </div>
                <div class="col-lg-9 col-md-9">
                  <h3>NETWORK HACKING - POST CONNECTION ATTACK - MITM ATTACK</h3>
                  <p>These attacks that we can launch only if we can able to intercept the communicate on between two
                    devices.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <img src="img/2.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-lg-9 col-md-9">
                  <h3>NETWORK HACKING - POST CONNECTION ATTACK - MITM ATTACK</h3>
                  <p>These attacks that we can launch only if we can able to intercept the communicate on between two
                    devices.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <img src="img/3.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-lg-9 col-md-9">
                  <h3>NETWORK HACKING - POST CONNECTION ATTACK - MITM ATTACK</h3>
                  <p>These attacks that we can launch only if we can able to intercept the communicate on between two
                    devices.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <img src="img/5.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-lg-9 col-md-9">
                  <h3>NETWORK HACKING - POST CONNECTION ATTACK - MITM ATTACK</h3>
                  <p>These attacks that we can launch only if we can able to intercept the communicate on between two
                    devices.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <img src="img/5.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-lg-9 col-md-9">
                  <h3>NETWORK HACKING - POST CONNECTION ATTACK - MITM ATTACK</h3>
                  <p>These attacks that we can launch only if we can able to intercept the communicate on between two
                    devices.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ">

          <aside class="card text-white bg-secondary mb-3">
            <div class="card-body">
              <h4 class="card-title">Subscribe for Latest Updates</h4>
              <p class="card-text">Get Latest updates and freebies</p>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control form-control-sm" required placeholder="Email ID">
                </div>
                <div class="mb-3">
                  <input type="submit" class="btn btn-sm btn-block btn-light" value="Subscribe Now">
                </div>
              </form>
            </div>
          </aside>
          <ul class="list-group mb-3 ">
            <li class="list-group-item my_archive ">Archives</li>
            <li class="list-group-item"><a href="#">2018</a></li>
            <li class="list-group-item"><a href="#">2018</a></li>
            <li class="list-group-item"><a href="#">2018</a></li>
          </ul>

          <ul class="list-group mb-3">
            <li class="list-group-item my_archive">Recent Posts</li>
            <li class="list-group-item"><a href="#">Post one</a></li>
            <li class="list-group-item"><a href="#">Post Two</a></li>
            <li class="list-group-item"><a href="#">Post Three</a></li>
          </ul>
        </div>
      </div>
    </div>
    </section>
    <!--bodycontent-->
{%endblock%}